/* Header */
header .logo img{
max-width: 285px;
}

p {
  font-family: 'Crimson Text', serif;
}

h3 {
  font-family: 'Tangerine', cursive;
  font-size: 34px;
  font-weight: bold;
  padding-top: 20px;
  letter-spacing: 1px;
}


.top-p {
  padding-left: 260px;
  padding-right: 220px;
}



body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+97,7db9e8+100&0.1+1,1+100 */
  background: -moz-linear-gradient(top, rgba(30,87,153,0.1) 0%, rgba(30,87,154,0.1) 1%, rgba(32,124,202,0.97) 97%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,87,153,0.1) 0%,rgba(30,87,154,0.1) 1%,rgba(32,124,202,0.97) 97%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,87,153,0.1) 0%,rgba(30,87,154,0.1) 1%,rgba(32,124,202,0.97) 97%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}


ul {
  top: 50px;
  font-family: 'Crimson Text', serif;
}

a {
  color: black;
}

nav {
  margin-top: 40px;
}

.container {
  max-width: 80%;
    }


.row {
margin-top: 40px;
    }

.col {
  padding-top: 20px;
  padding-bottom: 30px;
}

.rose {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.compassrose {
  max-width: 80px;
  height: auto;
  position: relative;
  text-align: center;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 60px
}

#mermaid {
opacity: 0.5;
}

#mermaid:hover {
opacity: 0.9;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
animation: bounce 6s;
}

@keyframes bounce {
  from {
    top: 0px;
    animation-timing-function: ease-out;
  }
  25% {
    top: 50px;
    animation-timing-function: ease-in;
  }
  50% {
    top: 150px;
    animation-timing-function: ease-out;
  }
  75% {
    top: 75px;
    animation-timing-function: ease-in;
  }
  to {
    top: 0px;
  }
}

 #skullkraken {
   max-width: 300px;
   opacity: 0.8;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
 }

 #skullkraken:hover {
   transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
   transition: transform .25s ease-in-out;
   -moz-transition: transform .25s ease-in-out;
   -webkit-transition: transform .5s ease-in-out;
   opacity: 1;
/* Question for Alex: how to make the zoom out more gentle */
 }


#newship {
right: -100px
  position: fixed;
  transition: right 0.4s ease-in-out;
-webkit-transition: right 0.4s ease-in-out;
width: 300px;
height: auto;
right: -300px;
}


#newship:hover {
  right: 0px;
}
