/* Header */
header .logo img{
max-width: 285px;
}

p {
  font-family: 'Crimson Text', serif;
}

h3 {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  font-weight: bold;
}


.top-p {
  padding-left: 260px;
  padding-right: 220px;
}



body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+97,7db9e8+100&0.1+1,1+100 */
  background: -moz-linear-gradient(top, rgba(30,87,153,0.1) 0%, rgba(30,87,154,0.1) 1%, rgba(32,124,202,0.97) 97%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,87,153,0.1) 0%,rgba(30,87,154,0.1) 1%,rgba(32,124,202,0.97) 97%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,87,153,0.1) 0%,rgba(30,87,154,0.1) 1%,rgba(32,124,202,0.97) 97%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}


.second-p {
  max-width: 80%;
}

#ship img{
max-width: 300px;
position: absolute;
right: 0px;
animation: slide 10s forwards;
animation-delay: 0.5s;
top: 150px;
opacity: 0.4;
}

@keyframes slide {
    100% { right: 75%; }
}

#big-waves img{
max-width: 100%;
position: absolute;
left: 0px;
animation: waves2 12s backwards;
animation-delay: 2s;
top: 550px;
opacity: 0.5;
}

@keyframes waves2 {
    100% { left: 75%; }
}


#big-ship img{
max-width: 700px;
position: absolute;
left: 0px;
animation: big-ship 12s forwards;
animation-delay: 4s;
top: 950px;
transform: scaleX(-1);
opacity: 0.4;
}

@keyframes big-ship {
    100% { left: 45%; }
}

#whale img{
max-width: 100%;
position: absolute;
right: 0px;
animation: whale 5s backwards;
animation-delay: 7s;
top: 1350px;
transform: scaleX(-1);
opacity: 0.3;
}

@keyframes whale {
    100% { right: 45%; }
}

#big-wave img{
max-width: 60%;
position: absolute;
left: 0px;
animation: big-wave 5s forwards;
animation-delay: 2s;
top: 1750px;
opacity: 0.5;
}


@keyframes big-wave {
    100% { left: 45%; }
}

ul {
  top: 50px;
  font-family: 'Crimson Text', serif;
}

a {
  color: black;
}

nav {
  margin-top: 40px;
  left: 30%;
}

#big-old-ship img{
max-width: 700px;
position: absolute;
right: 0px;
animation: big-old-ship 9s backwards;
animation-delay: 8s;
top: 2150px;
transform: scaleX(-1);
opacity: 0.4;
}

@keyframes big-old-ship {
    100% { right: 45%; }
}

#mermaid img{
max-width: 700px;
position: absolute;
right: 0px;
animation: mermaid 9s backwards;
animation-delay: 8s;
top: 2550px;
transform: scaleX(-1);
opacity: 0.4;
}

@keyframes mermaid {
    100% { right: 45%; }
}

#kraken-1 img{
max-width: 700px;
position: absolute;
right: 0px;
animation: kraken-1 9s backwards;
animation-delay: 10s;
top: 2950px;
transform: scaleX(-1);
opacity: 0.2;
}

@keyframes kraken-1 {
    100% { right: 45%; }
}

#new-ship-2 img{
max-width: 700px;
position: absolute;
right: 0px;
animation: new-ship-2 9s backwards;
animation-delay: 10s;
top: 3350px;
transform: scaleX(-1);
opacity: 0.2;
}

@keyframes new-ship-2 {
    100% { right: 45%; }
}

#skullkraken img{
max-width: 700px;
position: absolute;
right: 0px;
animation: skullkraken 9s backwards;
animation-delay: 10s;
top: 3750px;
transform: scaleX(-1);
opacity: 0.2;
}

@keyframes skullkraken {
    100% { right: 45%; }
}

#tentacle img{
max-width: 700px;
position: absolute;
right: 0px;
animation: tentacle 9s backwards;
animation-delay: 10s;
top: 4150px;
transform: scaleX(-1);
opacity: 0.2;
}

@keyframes tentacle {
    100% { right: 45%; }
}

#big-wave-2 img{
max-width: 700px;
position: absolute;
right: 0px;
animation: big-wave-2 9s backwards;
animation-delay: 10s;
top: 4550px;
transform: scaleX(-1);
opacity: 0.2;
}

@keyframes big-wave-2 {
    100% { right: 45%; }
}

.container {
  max-width: 80%;
    }


.row {

    }

.col {
  padding-top: 20px;
  padding-bottom: 30px;
}
