* {
  box-sizing: border-box;
}
h1 {
  font-family: Anton; sans-serif;
  color: #FFFFFF;
}

h2, h3, h4 {font-family: 'Fjalla One', sans-serif;
}

body {
font-family: 'courier', serif;
font-size: 20px;
padding-top:80px;
}

p {
  font-family: 'courier';
  font-size: 18px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #214F71;
  padding: 15px;
  z-index: 500;
}

select {
  font-family: 'courier';
  display: block;
  position: relative;
  width: 100%;
}

.select {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px;
  border-color: black;
  background-color: #ECEAEA;
}

.select:after {
    content: "\f107";
    position: absolute;
    font-family: 'FontAwesome';
    right: 10px;
    top: 12px;
}

button {
  font-family: 'courier', serif;
  background-color: #214F71;
  color: #FFFFFF;
  width: 100%;
  font-size: 20px;
}
.item .image {
  display: inline-block;
  max-width: 49%;
  padding: 10px;
  vertical-align: middle;
}

.image img {
  max-width: 100%;
}

.info {
  display: inline-block;
  max-width: 49%;
  padding: 10px;
  vertical-align: middle;
  /*background-color: #F9F3E1;*/
  margin-top: 15px;
}

.item {
  border-top: 1px solid black;
}

#intro {
  padding-top: 30px;
  padding-left: 10px;
}

button {
  padding-top: 10px;
  padding-bottom: 10px;
}

#results {
  text-align: center;
}

#full-item-view {
  padding-top: 60px;
  margin: auto;
  display: inline-block;
}
#full-item-view .image {
  text-align: center;
}
#full-item-view .image img {
  max-width: 100%;
  height: auto;

}

#full-item-view .info {
  max-width: 100%;
  margin: auto;
}

@media(max-width: 1024px) {
  
}
